${domain} {
    reverse_proxy ${host}:${port} {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls ${cloudflare_email} {
        dns cloudflare ${cloudflare_token}
    }
    log {
        output file ${log_file_path}
    }
}